.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input {
  width: 30%;
  border: none;
  border-bottom : 2px solid black;
  margin-bottom: 5px;
}

.todo  {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  width: 40%;
  height: auto;
  font-weight: 500;
}

.todo span {
  width: 30px;
  background: white;
  position: relative;
  font-size : 20px;
  margin-right: 10px;
}

.add {
  font-size: 30px;
}